include src/dasflex/root/etc/dasflex.conf.example.in
include src/dasflex/root/etc/mime.json.example
include src/dasflex/root/etc/das2peers.ini.example.in
include src/dasflex/root/etc/ReadMe-Passwords.txt.in
include src/dasflex/root/etc/passwd.example
include src/dasflex/root/etc/group.example
include src/dasflex/root/Examples/_dirinfo_.dsdf
include src/dasflex/root/Examples/UNLICENSE
include src/dasflex/root/Examples/Auth/sine.py
include src/dasflex/root/Examples/Auth.dsdf.in
include src/dasflex/root/Examples/Params/reader.py
include src/dasflex/root/Examples/Params.dsdf.in
include src/dasflex/root/Examples/Params/themis_data/CAA_EST_UG_STA_v36.pdf
include src/dasflex/root/Examples/Params/themis_data/tha_l3_sm_20080629_171151_20080629_171152_burst_v01.cdf
include src/dasflex/root/Examples/Random/reader.py
include src/dasflex/root/Examples/Random.dsdf.in
include src/dasflex/root/Examples/Spectra/reader.sh.in
include src/dasflex/root/Examples/Spectra.dsdf.in
include src/dasflex/root/Examples/Waveform/reader.py
include src/dasflex/root/Examples/Waveform.dsdf.in
include src/dasflex/root/Examples/Waveform/vgr_data/example_wfrm-spectra.png
include src/dasflex/root/Examples/Waveform/vgr_data/PDSFORMAT.LBL
include src/dasflex/root/Examples/Waveform/vgr_data/VG1_1979-03-01_12-26-11-956.DAT
include src/dasflex/root/Examples/Waveform/vgr_data/VG1_1979-03-01_12-27-47-956.DAT
include src/dasflex/root/Examples/Waveform/vgr_data/VG1_1979-03-01_12-26-59-956.DAT
include src/dasflex/root/Examples/Waveform/vgr_data/VG1_1979-03-01_12-28-35-956.DAT
include src/dasflex/root/Examples/Waveform/vgr_data/WFENGHDR.FMT
include src/dasflex/root/Examples/Waveform/vgr_data/WFROWPFX.FMT
graft src/dasflex/root/static
graft src/dasflex/root/sdef/commands

exclude */*/*/*/__pycache__
