include dasflex/root/etc/dasflex.conf.example.in
include dasflex/root/etc/mime.json.example
include dasflex/root/etc/das2peers.ini.example.in
graft dasflex/root/examples
graft dasflex/root/static
graft dasflex/root/sdef/commands
